
<div class="boardBox">


<div class="newNoneClass" style="width: 18rem;">
    
    <% //books.forEach(book =>{ %>
      
        <div class="alone">
            <img class="imageOm" src="<%= book.image%>" alt="Card image cap">
        </div>
   
    <div class="textOM">
      <h4 class="textNum"> TITLE: <%= book.title%> </h4>
      <h4 class="textNum"> ADDED ON: <%= moment(book.createdAt).fromNow()%></h4>
      <h4 class="textNum"> PUBLISHER: <%= book.publisher%></h4>
      <h4 class="textNum"> ISBN: <%= book.ISBN%></h4>
      <h4 class="textNum"> PAGE NUMBERS: <%= book.numberOfPage%></h4>
      <h4 class="textNum"> LINK: <%= book.link%></h4>
    </div>  
    <% // }) %>
    </div>

    <div class="buttonReview">
      <form action="/homepage/readlist/<%= book._id %>" method="POST">
      <button type="submit" name="moreInfo" class="btn btn-info signBut5" role="button" value="moreInfo">ALREADY READ?</button>
    </form>
      <form action="/homepage/favBook/<%= book._id %>" method="POST">
      <div class="moreInfo">
        <button type="submit" name="moreInfo" class="btn btn-info signBut1" role="button" value="moreInfo">ADD TO FAVORITE LIST</button>
      </div>
    </form>
    <% if(currentUser) {%>
      <% if(currentUser.isAdmin) {%>
    <form  method="POST" action="/book/<%= book._id %>/delete?_method=DELETE">
      <button class="btn btn-info" type="submit">Delete</button>
    </form>
    <form method="GET" action="/book/update/<%= book._id %>">
      <button class="btn btn-info" type="submit">Update</button>
    </form>
    <%} %>
    <%} %>
    </div>
  
  </div>

</div>

  